[submodule "new/msprime/tskit"]
	path = new/msprime/tskit
	url = git@github.com:tskit-dev/tskit.git
[submodule "old/orginal/msprime/tskit"]
	path = old/orginal/msprime/tskit
	url = git@github.com:tskit-dev/tskit.git
[submodule "vgit/Neanderthal_admix"]
	path = vgit/Neanderthal_admix
	url = git@github.com:Villanea/Neanderthal_admix.git
[submodule "old/vgit/Neanderthal_admix"]
	path = old/vgit/Neanderthal_admix
	url = git@github.com:Villanea/Neanderthal_admix.git
